{% extends 'app/base.html' %} {% block content %}
<h1>Сводка по питанию</h1>
<div class="info">
  <div>
    <span>Заведеющая отделением: </span>{{otd.zav_otd|default_if_none:"--"}}
  </div>
  <div><span>Главная М/С: </span>{{otd.msister|default_if_none:"--"}}</div>
  <div class="info__change-data"><a class="btn second" href="">Изменить данные</a></div>
</div>
<h2 class="am7">Сводка на 7:00</h2>
<input type="date" name="datetime" id="datetime" class="datetime" />
<p class="not-data"></p>


<div class="table_content">
  <table border="1px">
    <thead>
      <tr>
        <th rowspan="2">Отделения</th>
        <th rowspan="2">Всего<br />Больных</th>
        <th rowspan="2">в т.ч<br />детей</th>
        <th rowspan="2">
          Всего<br />матерей <br />
          по уходу
        </th>
        <th rowspan="2">Из них<br />без<br />питания</th>
        <th rowspan="2">
          Ветераны <br />
          ВОВ
        </th>
        <th colspan="16">Стандартные диеты (Столы)</th>
      </tr>
      <tr>
        <th>Зонд</th>
        <th>Голод</th>
        <th>Кисель</th>
        <th>Бульон</th>
        <th>02</th>
        <th>03</th>
        <th>ОВД</th>
        <th>ЩД</th>
        <th>ВБД</th>
        <th>НБД</th>
        <th>НКД</th>
        <th>1-3 лет</th>
        <th>3-7 лет</th>
        <th>7-11 лет</th>
        <th>11-18 лет</th>
        <th>ДП</th>
      </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
  </table>
  <div class="create_new_svod">+</div>
</div>

<div class="info_update">
  <div class="svod_update_date"></div>
    <div class="fio_ms">Дежурная: <input type="text" class="fio_ms-input"><button class="fio_ms-btn-ok">ok</button></div>
  <p class="fio_ms-p"></p>
</div>

<div class="print">
  <fieldset>
    <legend class="print_title">Вывод на печать</legend>
    <div class="print_container">
      <div>
        <input class="report_type"  type="radio" name="report_type" id="report_type1"  checked><label class="radiobtn_lbl" for="report_type1">на 07:00</label>
        <input class="report_type"  type="radio" name="report_type" id="report_type2"><label class="radiobtn_lbl" for="report_type2">Дополнительно</label>
        <input class="report_type"  type="radio" name="report_type" id="report_type3"><label class="radiobtn_lbl" for="report_type3">Общая сводка</label>
      </div>
      <div class="save">
        <!-- <a href="report/" class="save_data btn">Сохранить данные за </a> -->
        <a href="report/" class="report_btn" target="_blank">Сохранить данные за </a>
      </div>
    </div>
  </fieldset>
</div>


<script>


  Date.prototype.toDateInputValue = function () {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0, 10);
  };

  //отравляем запрос на получение текущих данных
  $(document).ready(function () {

    if ($.cookie('otd') === 'nmb1') {
      $(".fio_ms").remove()
      $(".info").remove()
    }
    $("#datetime").val(new Date().toDateInputValue());
    $(".report_btn").attr('href', 'report/'+ $("#datetime").val() + "/")

    $(".save_data").text(`Сохранить данные за ${$("#datetime").val()}`)

    const today = $("#datetime").val();
    const year = today.split("-")[0];
    const month = today.split("-")[1];
    const day = today.split("-")[2];

    $(".fio_ms-btn-ok").click(() => {

        $.ajax({
          url: `set_fio_ms/`,
          method: 'POST',
          data: {
            otd: $.cookie('otd'),
            fio_ms: $(".fio_ms-input").val(),
            id: $(".fio_ms-input").attr('id'),
            csrfmiddlewaretoken: $.cookie("csrftoken"),
          },
          success: function(data){
            $(".fio_ms-input").remove()
            $(".fio_ms-p").text(data['fio_ms'])
            $(this).hide()
            }
        })

    })
      //дублирование (исправлю) $(".fio_ms-input").keypress(function (e) { ---- } $(".fio_ms-btn-ok").click(() => {
    $(".fio_ms-input").keypress(function (e) {
      if (e.key === "Enter") {
        $.ajax({
          url: `set_fio_ms/`,
          method: 'POST',
          data: {
            otd: $.cookie('otd'),
            fio_ms: $(".fio_ms-input").val(),
            id: $(".fio_ms-input").attr('id'),
            csrfmiddlewaretoken: $.cookie("csrftoken"),
          },
          success: function(data){
            $(".fio_ms-input").remove()
            $(".fio_ms-p").text(data['fio_ms'])
            $(".fio_ms-btn-ok").hide()
            }
        })
        
      }
    })
    
    
    $.ajax({
      method: "GET",
      url: `${year}/${month}/${day}/`,
      success: function (data, status) {
        if (data.svod == undefined) {
          $(".create_new_svod").addClass("active");
          $("fieldset").remove('active')
        }

        if (data.svod != undefined) {
          json = data.svod
          $(".create_new_svod").removeClass("active");
          $("fieldset").addClass('active')
          $(".fio_ms-input").val(json[0]['fio_ms'])
          $(".fio_ms-input").attr('id', json[0].id)
          for (let i = 0; i < json.length; i++) {
            $(".tbody").append(
              CreateTable(json[i], [
                "dt_create",
                "fio_ms",
                "dt_svood",
              ])
            );
          }
          $("fio_ms")
            .text(json[0]["fio_ms"])
          $(".svod_update_date")
          .text("Время Внесения сводки: " + changeDateFormat(json[0]["dt_create"]))
          .addClass("create_svod")
        }
      },
    });
  });

  // отправляем запрос на получение данные за определенную дату
  $(".datetime").change(function (e) {
    const year = e.target.value.split("-")[0];
    const month = e.target.value.split("-")[1];
    const day = e.target.value.split("-")[2];
    console.log(`${year}-${month}-${day}`);
    $(".report_btn").attr('href', 'report/'+ $("#datetime").val() + "/").text('Сохранить данные за' + $("#datetime").val())
    
    GetDateAfterLoad(year, day, month)
  });

  function GetDateAfterLoad(year, day, month) {
    $.ajax({
      method: "GET",
      url: `${year}/${month}/${day}/`,
      success: function (data) {
        $(".row").remove();

        if (data.svod == undefined) {
          console.log("нет данных");
          $(".create_new_svod").addClass("active");
          $(".fio_ms-input").val("")
          $(".svod_update_date").text("");
          $(".create_new_svod").addClass("active");
          $("fieldset").removeClass('active')
        }
        if (data.svod != undefined) {
          $(".create_new_svod").removeClass("active");
          $("fieldset").addClass('active')
          json = data.svod
          if($.cookie('otd') != 'nmb1') {
            $(".fio_ms-p").text(json[0].fio_ms)
            $(".fio_ms-input").attr('id', json[0].id)
            $(".svod_update_date")
            .text("Время Внесения сводки: " + changeDateFormat(json[0]["dt_create"]))
          }
          $(".fio_ms-input").removeClass('active')
          for (let i = 0; i < json.length; i++) {
            $(".tbody").append(
              CreateTable(json[i], [
                "dt_create",
                "fio_ms",
                "dt_svood",
              ])
            );
          }
        }
      },
    });
  }

  function CreateTable(json, filters, newDay = false) {
    const tr = document.createElement("tr");
    $(tr).addClass("row");
    const map = new Map();

    const headers = getKeys(json, filters, true);

    for (let i = 0; i < headers.length; i++) {
      map.set(headers[i], document.createElement("td"));

      $(map.get(headers[i]))
        .text(json[headers[i]])
        .addClass("cell")
        .attr('otd_id', json['idotd'])
        .attr("value", json[headers[i]])
        .attr("time", json["dt_svood"])
        .attr("column-name", headers[i])
        .dblclick(function () {
          $(".input-table").remove();
          if($.cookie('otd') === 'nmb1') return
          //при клике на столбец otd_id ничего не должно происходить
          if ($(this).attr("column-name") == "idotd") return;
          
          const time = $(this).attr("time");
          const value = $(this).attr("value");
          const column = $(this).attr("column-name");
          const otd_id = $(this).attr('otd_id')
          $(".input").remove();
          const inp = document.createElement("input");
          $(inp)
            .val(value)
            .addClass("input-table")
            .focus()
            .attr("type", "number")
            .keypress(function (e) {
              if(e.key == 'z' || e.key == 'Z') {
                $(this).remove();
                return
              }
              if (e.key === "Enter") {
                if($.cookie('otd') == 'nmb1'){
                  sendRequest(time, e.target.value, column, otd_id);
                }
                else
                  sendRequest(time, e.target.value, column);
                $(this).remove();
              }
            });

            $(this).append(inp);
        });
      $(tr).append(map.get(headers[i]));
    }
    return tr;
  }

  function getKeys(json, filters = [], sortHeader = false) {
    let headers = [];
    for (let k in json) {
      if (!filters.includes(k)) {
        headers.push(k);
      }
    }
    if (sortHeaders)
      return sortHeaders(
        [
          "idotd",
          "vsego",
          "child",
          "mam",
          "mam_nofood",
          "wow",
          "zond",
          "golod",
          "diet_01_kis",
          "diet_01_bul",
          "diet_02",
          "diet_03",
          "diet_ovd",
          "diet_shd",
          "diet_vdb",
          "diet_nbd",
          "diet_nkd",
          "diet_age_1_3",
          "diet_age_3_7",
          "diet_age_7_11",
          "diet_age_11_18",
          'dop'
],
        headers
      );
    else return headers;
  }

  function sortHeaders(filter, headers) {
    const result = filter.map((header) => {
      return headers.find((elem) => {
        return elem == header;
      });
    });

    return result;
  }

  function sendRequest(time, value, column, otd_id=null) {
    time = time.replaceAll("T", " ").split(".")[0];
    $.ajax({
      method: "post",
      url: `update/`,
      data: {
        column,
        time,
        value,
        otd_id,
        csrfmiddlewaretoken: $.cookie("csrftoken"),
      },
      success: function (data) {
        $('.row').remove()
        const year = time.split(' ')[0].split('-')[0]
        const month = time.split(' ')[0].split('-')[1]
        const day = time.split(' ')[0].split('-')[2]
        console.log(year);
        console.log(month);
        console.log(day);


        json = JSON.parse(data.otd)
        console.log(json);
        for (let i = 0; i < json.length; i++) {
          $(".tbody").append(
            CreateTable(json[i]["fields"], ["dt_create", "fio_ms", "dt_svood"])
          );
        }
      },
    });
  }

  function changeDateFormat(date) {
    return date.replace('T', ' ')
  }

  $(".create_new_svod").click(function () {
    const date = $("#datetime").val()
    $.ajax({
      method: "get",
      url: `new_svod/${date}/`,
      success: function (data) {
        console.log(data)
        const json = JSON.parse(data.svod);
        console.log(json)
        $(".create_new_svod").removeClass('active')
        $(".fio_ms-input").attr('id', json[0].pk)
        for (let i = 0; i < json.length; i++) {
          $(".tbody").append(
            CreateTable(json[i]["fields"], ["dt_create", "fio_ms", "dt_svood"])
          );
        }
      },
    });
  });

  $(".save_data").click(() => {
    $.ajax({
      url: `report/${$("#datetime").val()}/`,
      method: 'get',
      success: (data) => {
        console.log(data);
      }
    })
  })

  function GetDateAndTime(){//['YYYY', "MM", "DD", 'HH', "MM", 'SS']

    return [...new Date().toLocaleDateString().split('.'), ...new Date().toLocaleTimeString().split(':')]
    
  }
</script>
{% endblock %}
