:root {
  --main-light-bg-color: rgb(241, 241, 241);
  --main-dark-bg-color: rgb(241, 241, 241);
  --font-color: rgb(23, 23, 23);
  --font-size: "16px";
  --nav-bg: rgb(230, 230, 230);
  --header-bg: rgb(230, 230, 230);
  --content-bg: rgb(230, 230, 230);
  --base-margin: "15px";
  --base-padding: "15px";
  --primary-color: rgb(89, 89, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
  overflow-y: auto;
}
a {
  color: black;
}
.report_btn {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid black;
  text-decoration: none;
}
.header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(89, 89, 223);
}

.header__logo {
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
  color: whitesmoke;
}

.main {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; */
  padding: 0 10px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn.primary {
  background-color: rgb(24, 24, 27);
}

.btn.danger {
  background-color: rgb(255, 100, 100);
}

.btn.second {
  background-color: rgb(241, 241, 241);
  color: black;
  margin-bottom: 10px;
}

.btn.second:hover {
  background-color: rgb(255, 100, 100);
}

.nav {
  padding: 15px;
  background-color: rgb(241, 241, 241);
  flex: 1;
  position: relative;
  height: auto;
}

.content {
  flex: 6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 10px;
  padding-left: 15px;
}

.nav__items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav__link {
  text-decoration: none;
  color: white;
  color: black;
  font-weight: 500;
  display: inline-block;
  padding: 8px 8px;
  font-size: 18px;
}

.nav__link.active {
  background-color: rgb(89, 89, 223);
}

.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__link:hover {
  background-color: rgb(89, 89, 223);
  color: white;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1 {
  margin-bottom: 20px;
}

.form__inp {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid black;
  width: 350px;
  margin-bottom: 20px;
}

.for__btn-inp {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  background-color: rgb(89, 89, 223);
}

.login__form .messages {
  list-style: none;
  display: block;
  margin-bottom: 20px;
}

.login__form .messages .error {
  color: red;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  font-size: 15px;
}

td,
th {
  padding: 10px;
}

th {
  font-weight: 900;
}

td a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: rgb(229, 243, 255);
}



.info div {
  text-align: right;
  margin-bottom: 10px;
}

.info span {
  font-weight: 700;
}

.svod-table.active {
  display: block;
}
.svod-table {
  display: none;
}


.input-table {
  width: 50px;
  height: 100%;
}

.create_new_svod.active {
  display: block;
}

.create_new_svod {
  display: none;
}

.save_data {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.save_data:hover {
  background-color: rgb(89, 89, 223);
  color: white;
}

.am7 {
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.create_svod {
  font-weight: bold;
}

.fio_ms {
  font-weight: bold;
}

fieldset {
  display: none;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

fieldset.active {
  display: block;
}
legend {
  font-size: 24px;
  padding-left: 30px;
  padding-right: 100px;
  background-color: rgb(241, 241, 241);
}

.report_type {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
  cursor: pointer;
}

.report_type:checked {
  border: 6px solid rgb(89, 89, 223); 
}


.radiobtn_lbl {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.print_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

  
td {
  text-align: center;
}

.table_content {
  height: 500px;
  overflow: auto;
}

.datetime {
  margin-bottom: 20px;
}

.fio_ms-p {
  display: inline-block;
}


.create_new_svod {
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  font-weight: 600;
}

.cell {
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: rgb(89, 89, 223);
  color:white;
}

tr {
  user-select: none;
}

.info__change-data {
  display: flex;
  justify-content: end;
}

.create_new_svod:hover {
  background-color: rgb(113, 113, 224);
  color: white;
}

.info_update {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1556px) {
  table {
    font-size: 10px;
  }
}